In [11]:
from Dissertation import RandomGenerator, convert_to_int, get_order_index

In [12]:
rg = RandomGenerator(12, 1_000_000, use_dask = True)

dataset is ordered by cov

/Users/gradcheckout/opt/anaconda3/lib/python3.9/site-packages/distributed/node.py:179: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 53192 instead
  warnings.warn(

  0%|          | 0/11 [00:00<?, ?it/s]

  0%|          | 0/7 [00:00<?, ?it/s]

  0%|          | 0/65 [00:00<?, ?it/s]

  0%|          | 0/151 [00:00<?, ?it/s]

  0%|          | 0/205 [00:00<?, ?it/s]

  0%|          | 0/6 [00:00<?, ?it/s]

  0%|          | 0/14 [00:00<?, ?it/s]

  0%|          | 0/68 [00:00<?, ?it/s]

  0%|          | 0/34 [00:00<?, ?it/s]

  0%|          | 0/15 [00:00<?, ?it/s]

  0%|          | 0/2 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

In [13]:
rg("sample")
del rg

http://127.0.0.1:53192/status

In [14]:
import pandas as pd
pd.read_parquet("sample")

,X_0,X_1,X_2,X_3,X_4,X_5,X_6,X_7,X_8,X_9,X_10,X_11,y
__null_dask_index__,,,,,,,,,,,,,
0,1,0,1,0,1,0,1,0,0,1,0,0,-11.882985
1,1,1,1,1,1,0,0,1,1,1,0,1,-0.793754
2,0,1,1,0,0,0,0,0,1,1,0,0,20.110200
3,0,1,1,1,1,1,1,1,0,0,0,0,24.104339
4,1,1,1,0,0,0,0,1,1,1,1,0,31.595393
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,0,1,0,0,1,0,1,0,1,1,0,0,-3.183375
999996,0,0,0,1,0,0,0,0,0,0,0,0,1.690353
999997,0,1,1,0,1,0,1,1,1,1,1,1,-1.724475
999998,1,1,1,0,0,0,1,0,1,1,1,0,4.262373
999999,1,1,0,0,1,0,0,1,0,0,1,1,3.127019

In [15]:
import dask.dataframe as dd
ddf = dd.read_parquet('sample')

In [18]:
!rm -rf sample